.form {
  box-sizing: border-box;
  margin-top: 2vw;
  margin-left: 30vw;
  box-sizing: border-box;
  width: 40vw;
  min-width: 40vw;
  background-color: rgb(210, 210, 210);
  border: 2px solid rgb(54, 54, 54);
  border-radius: 1vw;
  padding: 1.5vw;
}

.form label {
  font-size: 20px;
  font-weight: bold;
  width: auto;
}

.form input {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.form button {
  width: 50%;
  font-size: 25px;
  font-weight: bold;
  height: 50px;
}
