.app {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(255, 242, 219);
  color: #292929;
  overflow: auto;
}

.appHeader {
  margin: 0;
  font-weight: bold;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}
